<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body class="docs">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
					<img src="~/img/logo-high-docs.png" height="30"/>
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 bg-light p-3 docs-scroll">
				<nav id="sidebar" class="navbar navbar-light bg-light">
					<a class="navbar-brand">LevelImposter Docs</a>
					<nav class="nav nav-pills flex-column">
						<a class="nav-link">Preamble</a>
						<a class="nav-link">Map Making</a>
						<nav class="nav nav-pills flex-column ml-3">
							<a class="nav-link">Getting Started</a>
							<nav class="nav nav-pills flex-column ml-3">
								<a class="nav-link">Adding Objects</a>
								<a class="nav-link">Modifying Objects</a>
								<a class="nav-link">Exporting the Map</a>
							</nav>
							<a class="nav-link">Making Colliders</a>
							<a class="nav-link">Minimap and Admin Table</a>
						</nav>
						<a class="nav-link ms-3 my-1">Map Applicating</a>
						<nav class="nav nav-pills flex-column ml-3">
							<a class="nav-link">Requirements</a>
							<a class="nav-link">Automatic Method</a>
							<a class="nav-link">Manual Method</a>
						</nav>
					</nav>
				</nav>
			</div>
			<div class="col-sm-9">
				<div class="docs-content" data-spy="scroll" data-target="#sidebar" data-offset="0">
					@RenderBody()
				</div>
			</div>
		</div>
	</div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
