/*    Font Family    */
@font-face {
    font-family: Bahnschrift;
    src: url(/css/bahnschrift.ttf);
}

body, * {
    font-family: Bahnschrift, sans-serif !important;
}

/*    Home    */
.thick-header {
    text-align: center;
    background-color: #e9e9e9;
    min-height: 300px;
    width: 100%;
}
    .thick-header img {
        width: 500px;
        max-width: 80%;
        margin-top: 100px;
    }
    .thick-header .btn {
        margin-top: 40px;
        margin-left: 5px;
        margin-right: 5px;
        font-size: 20px;
    }

.screenshot {
    width: 50%;
    margin-bottom: 30px;
}
.content {
    margin-left: 10vw;
    margin-right: 10vw;
    min-height: calc(100vh - 170px);
}
    .content ol {
        font-size: 1.25rem;
        font-weight: 500;
        line-height: 1.4;
    }

.discord {
    float:right;
}

/*    Footer    */
footer {
    background-color: #e9e9e9;
    padding-left: 20vw;
    padding-right: 20vw;
    min-height: 60px;
    padding-top: 20px;
    display: flex;
}

    footer a {
        margin-left: 30px;
    }

/*    Headers    */
.header-1 {
    background-color: #1e1e1e;
    height: 60px;
    width: 100%;
    filter: drop-shadow(0px 1px 2px #111);
}
    .header-1 img {
        height: 60px;
    }
    .header-1 input {
        width:300px;
        display: inline;
        font-size:14px;
        display: none;
    }
.header-2 {
    background-color: #121212;
    height: 60px;
    width: 100%;
    border-style: solid;
    border-color: #212121;
    border-width: 0px;
    border-bottom-width: 1px;
}
    .header-2 button {
        margin-top: 10px;
        margin-right: 5px;
        margin-left: 5px;
    }

.no-overflow {
    overflow: hidden;
}

/*    Panels    */
.panel {
    background-color: #121212;
    width: 350px;
    height: calc(100vh - 120px);
    text-align: center;
    padding: 10px;
    border-style: solid;
    border-color: ;
    border-width: 0px;
    border-left-width: 1px;
    border-right-width: 1px;
}
    .panel img {
        max-width: 25px;
        max-height: 25px;
        float: left;
    }
.panel-transition {
    transition-property: transform,left,right;
    transition-duration: .4s;
}

/*    Buttons    */
.close-btn {
    position: absolute;
    height: 50px;
    width: 20px;
    top: calc((100vh / 2) + 30px);
    background-color: #e9e9e9;
    border-color: #d0d0d0;
    border-width: 1px;
    border-style: solid;
}

    .close-btn svg {
        margin-bottom: 3px;
        margin-left: -7px;
    }

.btn-outline-light {
    border-color: #1d1d1d !important;
    background-color: #1e1e1e;
}

/*    Left Button    */
.left-btn {
    left: 340px;
}
.close-left {
    transform: translate(-100%);
}
.close-left-btn {
    transform: scaleX(-1);
    left: 0;
}

/*    Right Button    */
.right-btn {
    right: 340px;
}
.close-right {
    transform: translate(100%);
}

.close-right-btn {
    transform: scaleX(-1);
    right: 0;
}

/*     Canvas    */
.canvas {
    position: absolute;
    top: 120px;
    left: 0;
    width: 100vw;
    height: calc(100vh - 120px);
    z-index: -10;
    background-color: black;
}

/*    Inner Panel    */
.inner-panel {
    overflow-y: auto;
    margin-top: 10px;
    height: 100%;
}

/*    Bigger    */
.bigger {
    font-size: 20px;
}
    .bigger img {
        min-height:30px;
        max-width:50px;
    }

/*    Properties    */
.transform {
    width: 100%;
    font-size:14px;
    text-align:left;
}
    .transform input {
        width: 19%;
        margin: 2px;
        margin-right: 8px;
    }

        .transform input[type=checkbox] {
            margin-left:20px;
        }

    .transform p {
        width: 60px;
        display: inline-block;
        margin: 0;
    }

.specialdata {
    font-size: 14px;
}
#prop-list {
    height: calc(100vh - 140px);
}
#item-list {
    height: calc(100vh - 190px);
}

.li-card {
    margin:0;
    margin-bottom: 10px;
}
br {
    display: block;
    margin: 1px 0;
}

/*    Disable Number Arrows    */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type=number] {
    -moz-appearance: textfield;
}

/*    Upload    */
.upload-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: black;
    opacity:.4;
    display: none;
}
.upload-window {
    display: none;
    position:absolute;
    background-color:white;
    top:30vh;
    left:35vw;
    width:auto;
    height:auto;
    border-radius:2px;
    text-align:center;
    padding:20px;
}
    .upload-window input {
        margin:10px;
        width:90%;
    }
    .upload-window button {
        width:70%;
    }

/*    Settings    */
.settings-window {
    display: none;
    position: absolute;
    background-color: #1a1a1a;
    color: #ffffff;
    top: 5vh;
    left: 35vw;
    width: 30vw;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 90vh;
    border-radius: 2px;
    text-align: center;
    padding: 20px;
}

/*   X Button    */
.x-btn {
    position:absolute;
    top:10px;
    right:26px;

    border: none;
    background-color:transparent;
    width:16px !important;
    outline: none;
    color: #ffffff;
}

.list-group-item-action {
    transition-property: border-color;
    transition-duration: .2s;
}
    .list-group-item-action:hover {
        border-color: #1d95dd;
    }

.list-group-item,.card {
    background-color: #1e1e1e;
    color: white;
}

/*    Warning Panel    */
.warning {
    position:absolute;
    top:65px;
    right: 5px;
    width: 400px;
}
.warning-btn {
    display: none;
}

/*    Undersized    */
.undersize {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    padding-top:calc(50vh - 50px);
    background-color: #e9e9e9;
    text-align:center;
}

/*    Black Background    */
.black-bg {
    background-color:black;
}

/*    Documentation    */
.docs {
    overflow: hidden;
}
    .docs br {
        margin-top: 10px;
    }

    .docs .container {
        margin-left: 0;
    }

.docs-content {
    height: calc(100vh - 60px);
    overflow-y: scroll;
    overflow-x: hidden;
    padding-top:20px;
    padding-right:20px;
}

    .docs-content img {
        max-width: 70%;
        margin:10px;
    }

    .docs-content table {
        max-width: 70%;
        font-size:15px;
    }

.docs-scroll {
    height:100vh;
    overflow-y:scroll;
    overflow-x:hidden;
}

.small-img {
    max-width:25% !important;
    float: right;
}

.map-embed {
    aspect-ratio: 1 / 1;
    width: 100%;
}