.btn-home {
    margin-top: 40px;
    margin-left: 5px;
    margin-right: 5px;
    font-size: 20px;
}

.bg-darker {
    background-color: rgb(15, 17, 19) !important;
}

.text-muted a {
    color: #2f84d0 !important;
}