@import 'bootstrap/dist/css/bootstrap.min.css';

@font-face {
    font-family: Bahnschrift;
    src: url(bahnschrift.ttf);
}

body,
* {
    font-family: Bahnschrift, sans-serif !important;
}

body {
    background-color: rgb(26, 29, 32);
    color: white;
}