@{
	Layout = "_BlankLayout";
	ViewData["Title"] = "Editor - LevelImposter";
}

<!--    Headers    -->
<div class="header-1">
	<a href="/"><img src="~/img/favicon.png" /></a>
	<a href="#" class="text-dark ml-2" id="map-name">Untitled Map</a>
	<input class="form-control ml-2" id="map-name-input" value="Untitled map" maxlength="30" />
	<p class="float-right" id="debug"></p>
</div>
<div class="header-2 gborder">
	<button type="button" class="btn btn-outline-danger" id="trash" disabled>
		<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
			<path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
			<path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4L4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
		</svg>
	</button>

	<button type="button" class="btn btn-outline-dark float-right" id="export">Export</button>
	<button type="button" class="btn btn-outline-dark float-right" id="import">Import</button>
	<button type="button" class="btn btn-outline-dark float-right" id="add-img">Add Sprite</button>
</div>

<!--    Left Panel    -->
<div class="panel float-left panel-transition" id="left-panel">
	<div class="inner-panel" id="prop-list">
	</div>
</div>
<button class="close-btn left-btn panel-transition" id="left-btn">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-left-fill" viewBox="0 0 16 16">
		<path d="M3.86 8.753l5.482 4.796c.646.566 1.658.106 1.658-.753V3.204a1 1 0 0 0-1.659-.753l-5.48 4.796a1 1 0 0 0 0 1.506z" />
	</svg>
</button>

<!--    Right Panel    -->
<div class="panel float-right panel-transition" id="right-panel">
	<select class="custom-select item-select" id="item-dropdown">
	</select>
	<div class="inner-panel" id="item-list">
	</div>
</div>
<button class="close-btn right-btn panel-transition" id="right-btn">
	<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-caret-right-fill" viewBox="0 0 16 16">
		<path d="M12.14 8.753l-5.482 4.796c-.646.566-1.658.106-1.658-.753V3.204a1 1 0 0 1 1.659-.753l5.48 4.796a1 1 0 0 1 0 1.506z" />
	</svg>
</button>

<!--    Canvas    -->
<canvas id="licanvas" class="canvas"></canvas>

<!--    Upload    -->
<div class="upload-bg" id="upload-bg"></div>
<div class="upload-window" id="upload-window">
	<button class="x-btn" id="upload-exit">
		<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
			<path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z" />
		</svg>
	</button>
	<h3 id="upload-name">Upload</h3>
	<input class="form-control" type="file" id="file-input" />
	<button class="btn btn-dark" id="upload-btn">Upload</button>
</div>

<!--    Undersized    -->
<div id="undersize" class="undersize">
	<img src="~/img/logo-high.png"  width="200px" /> <br/>
	LevelImposter does not support phones or <br />other devices with smaller screens.<br />Please use a bigger screen and try again.
</div>

<!--    Javascript    -->
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script type="module" src="~/js/LevelImposter.js" asp-append-version="true"></script>