@{
	ViewData["Title"] = "Level Imposter";
	Layout = "_BlankLayout";
}

<div class="thick-header">
	<img src="~/img/logo-high.png" /> <br />
	<a href="/Docs/" class="btn btn-primary">Docs</a>
	<a href="/Home/Editor" class="btn btn-primary">Editor</a>
	<a href="https://github.com/DigiWorm0/LevelImposter/releases" class="btn btn-danger">Download</a>
	<a href="/Map" class="btn btn-danger">Maps</a>
</div>

<div class="screenshots">
	<img src="~/img/editor-screenshot-1.png" class="screenshot float-left" />
	<img src="~/img/editor-screenshot-2.png" class="screenshot float-right" />
</div>

<div class="content">
	<iframe src="https://discord.com/widget?id=830091888332767253&theme=dark" class="discord" width="350" height="500" allowtransparency="true" frameborder="0" sandbox="allow-popups allow-popups-to-escape-sandbox allow-same-origin allow-scripts"></iframe>
	<h1>About</h1>
	<h5>LevelImposter is the world's first custom Among Us map maker. It modifies the Among Us files in order to store custom assets, rooms, tasks, and sabatages. As fun as the original four maps are, we feel like giving the community the ability to create their own maps would make Among Us much more entertaining for everyone involved.</h5>
	<br />
	<h1>Installation</h1>
	<h3>Running a Map:</h3>
	<ol>
		<li>Close Among Us</li>
		<li>Download a Map file. Some are available <a href="https://www.reddit.com/r/LevelImposter/">here</a>.</li>
		<li>Download and run LevelImposter.exe client <a href="https://github.com/DigiWorm0/LevelImposter/releases">here</a>.</li>
		<li>Click "Browse" and select the Map.zip you downloaded.</li>
		<li>Hit "Apply"</li>
		<li>
			Open an Among Us lobby under Polus
			<ul>
				<li>
					It is recommended you run under your own <a href="https://github.com/NuclearPowered/Impostor">private server</a>
				</li>
			</ul>
		</li>
		<li>Ensure all players joining are using the same map</li>
	</ol>
	<h5>Notes:</h5>
	<ul>
		<li>All players in the lobby must use the same map.</li>
		<li>Mobile is not yet supported.</li>
		<li>For more details, see <a href="https://levelimposter.net/Docs">LevelImposter Docs</a></li>
	</ul>
	<h3>Making a Map:</h3>
	<ol>
		<li>Open the map editor <a href="https://levelimposter.net/Home/Editor">here</a>.</li>
		<li>Add corresponding tasks / assets / etc. using the editor tool</li>
		<li>Export to JSON file</li>
		<li><i>(Optional)</i> Upload Map Json to <a href="https://www.reddit.com/r/LevelImposter/">LevelImposter Reddit</a></li>
	</ol>
</div>
<footer class="footer mt-auto" style="margin-top:20px !important;">
	<p>&copy 2021 Level Imposter</p>
	<a href="https://discord.gg/9jJEBQ4qJs">Discord</a>
	<a href="https://github.com/DigiWorm0/LevelImposter">Open Source</a>
	<a href="https://www.paypal.com/donate?business=WR4V8BLD6AXC4&item_name=Donate+to+Level+Imposter&currency_code=USD">Donate</a>
</footer>