@{
	ViewData["Title"] = "Docs - Level Imposter";
}

<h1 id="1">Preamble</h1>
<p>
	<i>Note: LevelImposter is still in early beta and not completely finished. Bugs are to be expected.</i>
	<br />
	This guide will go over all the necessary steps in order to create, launch, and share your own among us map with the community. The guide is split up into two sections: <a href="#2">Map Making</a> and <a href="#3">Map Applicating</a>. Map Making will explain how you can make your own map with the LevelImposter editor. Map Applicating will explain how to take your new map and put it in Among Us. If you already have a map and just want it applied, you can skip to Map Applicating. Otherwise, you can start at Map Making.
	<br />
	If you run into any issues, feel free to contact us in our discord server: <a href="https://discord.gg/9jJEBQ4qJs">https://discord.gg/9jJEBQ4qJs</a>
</p>

<hr />
<h1 id="2">Map Making</h1>
<h2 id="2-1">Getting Started</h2>
<p>
	The LevelImposter editor is available online at <a href="https://levelimposter.net/Home/Editor">https://levelimposter.net/Home/Editor</a>. The basic layout of the editor is shown below
</p>
<img src="~/img/docs/edit-1.png" />
<br />
<ul>
	<li><b>(A) Toolbar</b> is used to add / remove objects, import / export your map, adjust map settings, and display warnings about your map.</li>
	<li><b>(B) Object Properties</b> is used to adjust the selected object’s position, scale, rotation, and other properties</li>
	<li><b>(C) Camera</b> is used to visually navigate your map and the objects in it</li>
	<li><b>(D) Object List</b> is a list of objects built into Among Us that you can add into your map</li>
</ul>

<h3 id="2-1-1">Adding Objects</h3>
<p>
	On the right hand side of the screen is the <a>Object List</a>. The Object List contains various tasks, rooms, and utilities that you can add into your map. On the top of the list are each of the categories.
</p>
<b>
	To add an object...
</b>
<ol>
	<li>Click on the object in the list</li>
	<li>Click on where you want to object to be</li>
</ol>
<p>
	Alternatively, you can create your own sprites in paint or photoshop then import it into LevelImposter by hitting "Add Sprite" in the Toolbar. LevelImposter currently support still images only. GIFs, spritesheets, and videos are not yet available.
</p>

<h3 id="2-1-2">Modifying Objects</h3>
<p>
	If you click on an object in your map, the <a>Object Properties</a> will appear on the left hand side. Object Properties can contain various options depending on the type of object, but all objects contain a position, scale, rotation, flip, and colliders.
</p>
<br />
<ul>
	<li><b>Position: </b>Where the object is located</li>
	<li><b>Scale: </b>Size of the object</li>
	<li><b>Rotation: </b>Angular position of the object</li>
	<li><b>Flip: </b>Object Mirroring</li>
	<li><b>Colliders: </b>Wall Physics (See <a href="#2-2-1">Making Colliders</a> for more info)</li>
</ul>
<p>
	If you want bring the object in front or behind other objects, increase or decrease the z position.
</p>

<h3 id="2-1-4">Exporting the Map</h3>
<p>
	Once you have a map, you can export it by hitting the "Export" button in the top right corner. Exporting creates a json file with the name of your map. Once you have this json file, jump to <a href="#3">Map Applicating</a> to see how you can apply it to Among Us.
</p>
<p>
	To reimport the map back into the editor, simply hit "Import" to the left of the "Export" button on the toolbar.
</p>

<h2 id="2-2">Advanced Concepts</h2>
<h3 id="2-2-1">Making Colliders</h3>
<img src="~/img/docs/comms.png" class="small-img" />
<p>
	In order for Among Us to know where and how walls are located, you must add <b>colliders</b> to each of your objects. Colliders are a series of line segments that can collide with your player. They are used to prevent the player from passing through the walls of your map.
</p>
<p>In order to add colliders to your object...</p>
<ol>
	<li>Select the object</li>
	<li>Hit "Add Collider"</li>
	<li>Under Collider #, Hit "Edit"</li>
	<li>Use the controls below to edit the collider</li>
</ol>
<ul>
	<li><b>Left Click Edge</b> Adds a point</li>
	<li><b>Left Click Corner</b> Moves a point</li>
	<li><b>Right Click Edge</b> Moves the camera</li>
	<li><b>Right Click Corner</b> Deletes a point</li>
</ul>
<p>
	In addition, colliders have various options to chooses from. <b>Vision Block</b> chooses whether or not the wall can block the player's vision. <b>Closed Loop</b> chooses whether the collider is a closed polygon or an open line.
</p>
<p>
	Depending on the amount of entryways your room has, it is recommended you add two colliders onto each object. One collider blocks light and can follow along the tops of the walls. The other collider doesn’t block light and follows along the bottom of the walls. This way the player can properly see the walls while not being able to walk on top of them. If you have more than one entry way, you can split your colliders up into multiple colliders.
</p>

<h3 id="2-2-3">Minimap and Admin Table</h3>
<h5>Using Room Utilities</h5>
<img src="~/img/docs/edit-4.png" class="small-img" />
<p>
	In order to generate the minimap, admin table, and task locations on the freeplay laptop, LevelImposter requires you define the name and area of each of the rooms your map has. In order to accomplish this, LevelImposter uses <b>Room Utilities</b>. These Room Utilities are objects under the "Utilities" category.
</p>
<p>
	Once you have added a room uility to the map, you must...
</p>
<ol>
	<li>Set it's name</li>
	<li>Add a collider</li>
	<li>Set the collider to surround the room</li>
</ol>
<p>
	Unlike normal colliders, these colliders cannot and will not interact with the player in any way. Instead, these colliders are used to define the area taken up by the room itself. The collider is parsed by LevelImposter and used to generate rooms of equal name, shape, and size on the minimap and admin table.
</p>

<h3 id="2-2-4">Keyboard Shortcuts</h3>
<table class="table table-striped">
	<tbody>
		<tr>
			<th scope="row">Right Click</th>
			<td>Drag the Camera</td>
		</tr>
		<tr>
			<th scope="row">Scroll</th>
			<td>Zoom the Camera</td>
		</tr>
		<tr>
			<th scope="row">Left Click</th>
			<td>Select / Drag an Object</td>
		</tr>
		<tr>
			<th scope="row">Shift</th>
			<td>Align an Object</td>
		</tr>
		<tr>
			<th scope="row">Delete</th>
			<td>Removes an Object</td>
		</tr>
		<tr>
			<th scope="row">Ctrl-Z</th>
			<td>Undo</td>
		</tr>
		<tr>
			<th scope="row">Ctrl-Y</th>
			<td>Redo</td>
		</tr>
	</tbody>
</table>

<h3 id="2-2-5">License, Credit, and Distribution</h3>
<img src="~/img/docs/sign.png" class="small-img" />
<p>
	When map makers pour tons of hours into their work, we want to make sure they get the credit they deserve. However, it is important to note the boundaries of LevelImposter's GPLv3 license and how maps should be distributed on their official platforms.
</p>
<p>
	In order to maintain the security of map users, distribution of LevelImposter map files is limited to the exported json file only. This means distribution of the LevelImposter dll files without proper license, credit, and source code is <b>illegal</b>. In order to properly distribute your new map, you can post the exported json file onto LevelImposter's official <a href="https://discord.gg/9jJEBQ4qJs">Discord</a> and <a href="https://www.reddit.com/r/LevelImposter/">Reddit</a> or distribute the download link for LevelImposter along with your json file on non-LevelImposter platforms.
</p>
<p>
	Due to these limitations, credit for the original map maker can come in the form of signs and text located inside the map file. This is similar to what you would find in a Gmod map. Signs can be drawn in paint or photoshop then placed beside spawn or wherever else you may like. This ensures credit to the original map maker without the security risks of running unauthorized code.
</p>

<hr />
<h1 id="3">Map Applicating</h1>
<h2 id="3-1">Requirements</h2>
<ul>
	<li>A desktop with Among Us installed</li>
	Where you downloaded Among Us from does not matter. LevelImposter is tested with Steam, Epic, and Itch.io.
	<li>BepInEx applied to Among Us</li>
	If you have modded Among Us in the past, you likely already have BepInEx installed. See
	<a href="https://docs.reactor.gg/docs/basic/install_bepinex">Reactor's guide</a> on how to install BepInEx in Among Us.
	<i>(Note: LevelImposter does <b>not</b> require Reactor to be installed)</i>
</ul>
<h2 id="3-2">Automatic Method</h2>
<ol>
	<li>Close Among Us</li>
	<li>Download the latest LevelImposter Client on <a href="https://github.com/DigiWorm0/LevelImposter/releases">GitHub</a></li>
	<li>Run LevelImposter.exe</li>
	<li>Hit "Browse" and select your map JSON</li>
	<li>Hit "Apply"</li>
	<li>Open Among Us</li>
</ol>
<p>
	If LevelImposter succeeded, it should run without issue. If not, feel free to contact us at our discord server: <a href="https://discord.gg/9jJEBQ4qJs">https://discord.gg/9jJEBQ4qJs</a>
</p>

<h2 id="3-3">Manual Method</h2>
<p>
	If you are having trouble running the automatic installer, you can try manually installing LevelImposter.
</p>
<ol>
	<li>Close Among Us</li>
	<li>Go to LevelImposter > LevelImposter-Installer > Resources at our github page or click <a href="https://github.com/DigiWorm0/LevelImposter/tree/master/LevelImposter-Installer/Resources">here</a>.</li>
	<li>Download both LevelImposter.dll and Newtonsoft.Json.dll</li>
	<li>
		Go to your BepInEx's plugins folder
		<ul>
			<li><b>Steam: </b>C:\Program Files (x86)\Steam\steamapps\common\Modded Among Us\BepInEx\plugins</li>
			<li><b>Epic: </b>C:\Program Files\Epic Games\AmongUs\BepInEx\plugins</li>
		</ul>
	</li>
	<li>Put both LevelImposter.dll and Newtonsoft.Json.dll in the folder</li>
	<li>Put the map file in the same folder</li>
	<li>Rename the map file to "map.json"</li>
	<li>Open Among Us</li>
</ol>
<p>
	If LevelImposter succeeded, it should run without issue. If not, feel free to contact us at our discord server: <a href="https://discord.gg/9jJEBQ4qJs">https://discord.gg/9jJEBQ4qJs</a>
</p>